:root {
  font-size: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color-scheme: dark;
}

body {
  color: #FFFFFF;
  background: #000000;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}